{% extends "::base.html.twig" %}
{% block body %}
    <div class="section clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>CasaNET</h1>

                    <div class="space40"></div>

                    <p class="text-justify">On the fast actual demographic trend and increasing comfort level, consumers
                        are becoming more and more demanding in the areas of heating, cooling, ventilation, air
                        conditioning, and lighting. Reducing energy consumption is necessary in key sectors of the
                        economy, such as energy, buildings and construction, the public sector, as well as in cities and
                        urban areas.
                        The goal of CASA-NET project is to improve energy efficiency by using an innovative integrated
                        and holistic framework. The framework will integrate technologies from autonomic computing,
                        context-aware computing, machine learning and service-oriented architecture.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>CasaNET Objectives</h1>

                    <div class="space40"></div>

                    <p class="text-justify">To achieve the overall goal of this project we propose to achieve the
                        following three specific objectives:
                        <br/>
                    <ul class="text-justify">
                        <li>
                            <strong>Objective 1:</strong> Design and specification of an intelligent framework to
                            monitor and control
                            equipment.
                        </li>
                        <br/>
                        <li>
                            <strong>Objective 2:</strong> Track home occupant’s activities and energy expenditure such
                            as reading,
                            watching, sleeping, and model human behaviour.
                        </li>
                        <br/>
                        <li>
                            <strong>Objective 3:</strong> Develop an agent-based software tool to test the models
                            developed, and to study
                            the performance of solutions and approaches on the energy consumption for new or renovating
                            buildings.
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>CasaNET Outcomes</h1>

                    <div class="space40"></div>
                    <ul class="text-justify">
                        <li>
                            <strong>Outcome 1:</strong> An intelligent framework will be developed to monitor and
                            control energy
                            equipment.
                            New
                            methods to optimize energy consumption will be also integrated into this framework.
                        </li>
                        <br/>
                        <li>
                            <strong>Outcome 2:</strong> A database containing behavioural en environmental data will be
                            produced and used
                            to
                            build the models and to test the optimization schemes. This database can be used elsewhere
                            in
                            R&D
                            projects.
                        </li>
                        <br/>
                        <li>
                            <strong>Outcome 3:</strong> A software tool will be developed to study the impact of the new
                            solutions and
                            approaches on the energy consumption for new or renovating buildings developed in outcome.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="space10"></div>
            <div class="separator"></div>
            <div class="space10"></div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object"
                                     src="http://vignette3.wikia.nocookie.net/b__/images/3/35/Clock.png/revision/latest?cb=20130523115805&path-prefix=bloons"
                                     width="50"
                                     alt="Logo">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Duration</h4>
                            36 Months - Starts at MONTH of YEAR
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="http://www.ugaf.rnu.tn/islah/LOGOMIN.jpg" width="50"
                                     alt="Logo">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Financing</h4>
                            Ministry of National Higher Education and Scientific Research - Morocco
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ parent() }}
{% endblock %}
