{% extends "::base.html.twig" %}
{% block body %}
    <div class="section clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>Overall Strategy</h1>

                    <div class="space40"></div>

                    <p class="text-justify">
                        The CasaNET project is divided into 4 work packages:
                    <ul>
                        <li>
                            <strong>WP 1:</strong> A modifier
                        </li>
                        <br/>
                        <li>
                            <strong>WP 2:</strong> A modifier
                        </li>
                        <br/>
                        <li>
                            <strong>WP 3:</strong> A modifier
                        </li>
                        <br/>
                        <li>
                            <strong>WP 4:</strong> A modifier
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{ parent() }}
{% endblock %}
