{% extends "::base.html.twig" %}
{% block body %}
    <div class="section clearfix">
        <div class="container">
            <div class="row">
                <h1 class="text-center">Articles</h1>
                <div class="space70"></div>
                <div class="col-md-10 col-md-offset-1">
                    <table id="articlestable1" class="table table-responsive">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Author</th>
                            <th>Download</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.title }}</td>
                                <td>{{ entity.date | date('d/m/Y') }}</td>
                                <td>{{ entity.author }}</td>
                                <td> - </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{ parent() }}
{% endblock %}
