.space10 {
    margin-bottom: 10px;
}

.space20 {
    margin-bottom: 20px;
}

.space30 {
    margin-bottom: 30px;
}

.space40 {
    margin-bottom: 40px;
}

.space50 {
    margin-bottom: 50px;
}

.space60 {
    margin-bottom: 60px;
}

.space70 {
    margin-bottom: 70px;
}

.space80 {
    margin-bottom: 80px;
}

.space90 {
    margin-bottom: 90px;
}

.space100 {
    margin-bottom: 100px;
}

.cursor {
    cursor: pointer;
}